##---------------------------------------------------------------------
##--                                                                 --
##-- Company:  University of Bonn                                    --
##-- Engineer: John Bieling                                          --
##--                                                                 --
##---------------------------------------------------------------------
##--                                                                 --
##-- Copyright (C) 2015 John Bieling                                 --
##--                                                                 --
##-- This program is free software; you can redistribute it and/or   --
##-- modify it under the terms of the GNU General Public License as  --
##-- published by the Free Software Foundation; either version 3 of  --
##-- the License, or (at your option) any later version.             --
##--                                                                 --
##-- This program is distributed in the hope that it will be useful, --
##-- but WITHOUT ANY WARRANTY; without even the implied warranty of  --
##-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the    --
##-- GNU General Public License for more details.                    --
##--                                                                 --
##-- You should have received a copy of the GNU General Public       --
##-- License along with this program; if not, see                    --
##-- <http://www.gnu.org/licenses>.                                  --
##--                                                                 --
##---------------------------------------------------------------------

TIMEGRP "EventSizeToBig" = ffs(*/eventsize_too_big);			
TIMESPEC TS_EventSizeToBig = TO "EventSizeToBig" 10 ns;

TIMEGRP "MoreSlicesToCome" = ffs(*/tdc_slicecounts_current*:*/tdc_slicecounts_stop*);			
TIMESPEC TS_MoreSlicesToCome = FROM "MoreSlicesToCome" 30 ns;

TIMEGRP "DataToOld" = ffs(*/tdc_this_clockcounter*:*/tdc_first_clockcounter*);			
TIMESPEC TS_DataToOld = FROM "DataToOld" 35 ns;


#sorting is pure combinatorial
PIN */BRAMTDC.q* TPTHRU = tdc_out;
TIMESPEC TS_READOUT_TDC = FROM RAMS THRU tdc_out TO FFS 30ns; 
